{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/authenticationCSS.css') }}">
{% endblock %}

{% block body %}

    <div class="contentInRow">
        <a href={{ path('app_login') }} class="style">
            <h1>Zaloguj się</h1>
        </a>
        &nbsp;
        &nbsp;
        <h1> / </h1>
        &nbsp;
        &nbsp;
            <h1 class="styleActive"> Zarejestruj się</h1>
    </div>

    <div class="contentInColumn">
        <form method="post">
            {{ form_row(form._token) }}
            <p>{{ form_label(form.email) }}</p>
            <div>{{ form_widget(form.email) }}</div>
            <br><br>
            {{ form_label(form.password) }}
            <br>
            {{ form_widget(form.password) }}
            <br><br>
            <button type="reset">Reset</button>
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}